html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    margin: 0;
    background-color: var(--site-bg);
}

header {
    background-color: #D7472D;
    height: 70px;
    align-items: center;
    display: flex;
    z-index: 99;
}

nav {
    display: inline-block;
    padding: 0;
    margin-top: -6px;
}

nav>a {
    font-family: 'Roboto Slab';
    text-decoration: none;
    font-size: 20px;
    color: #000000;
    padding-left: 69px;
    transition: .2s;
    font-weight: 600;
}

nav>a:hover {
    font-size: 20px;
    color: #E2B802;
}

#last {
    margin-right: 150px;
}

.img {
    display: flex;
    gap: 15px;
}

.city {
    display: flex;
    align-self: flex-start;
    padding-top: 2px;
}

select {
    color: #ffff;
    font-family: 'Roboto Slab';
    font-size: 16px;
    font-weight: 400;
    width: 183px;
    height: 30px;
    border-radius: 10px;
    outline: none;
    border: none;
    margin-left: 48px;
    padding-left: 15px;
    padding-bottom: 2px;
    appearance: none;
    background: url(img/select_arr.svg) no-repeat right;
    background-position-x: calc(100% - 8px);
    background-color: #000000;
}

#korzina {
    width: 35px;
    height: 35px;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;
}

#profil {
    width: 35px;
    height: 35px;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;
}

#logo {
    width: 70px;
    height: 70px;
    margin-top: -2px;
    margin-left: 30px;
}

#planet {
    width: 15px;
    height: 15px;
    margin-left: 23px;
}

#city {
    font-size: 12px;
    font-weight: 700;
    height: 21px;
    background: none;
    border: none;
    appearance: none;
    color: #000000;
    margin: -3px 0px 0px -12px;
    width: 180px;
    transition: .2s;
}

#city:hover {
    font-size: 13px;
}

#city>option {
    font-size: 14px;
    color: #ffff;
    background-color: #000000;
}

#first {
    padding-left: 6px;
}

.block_1 {
    height: 579px;
    position: relative;
}

#slides {
    padding: 0px;
    margin: 0px;

}

.slide {
    position: absolute;
    opacity: 0;
    z-index: 1;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

.showing {
    opacity: 1;
    z-index: 2;
}

.block_2 {
    background-image: url(img/block_2.png);
    padding: 50px 0px;
    background-repeat: no-repeat;
}

.block_2>h1 {
    font-size: 48px;
    font-family: 'Roboto Slab';
    color: #ffff;
    margin-top: 152px;
    margin-left: 184px;
    margin-bottom: 5px;
    font-weight: 500;
}

.block_2>h2 {
    font-size: 52px;
    font-family: 'Roboto Slab';
    color: #D7472D;
    margin-top: 0px;
    margin-left: 184px;
    font-weight: 500;
}

#map {
    display: flex;
    justify-content: space-around;
    margin-top: -480px;
    margin-left: 1000px;
    border: #D7472D solid 3px;
    border-radius: 10px;
    width: 615px;
}

.block_3 {
    background-color: #121212;
    height: 794px;
    padding: 98px 40px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;

}

.icons,
.icons_2 {
    padding: 0px;
    height: 270px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 80px;
}

.icon_2,
.icon {
    transition: .2s;
}

.card_1 {
    background-image: url(img/icon_1.png);
    background-repeat: no-repeat;
    width: 467px;
    display: flex;
    justify-content: center;
}

.card_1>a {
    text-decoration: none;
    color: #000000;
    padding: 95px 195px 95px 195px;
    font-size: 24px;
    font-family: 'Roboto Slab';
    font-weight: 500;
}

.card_2 {
    background-image: url(img/icon_2.png);
    background-repeat: no-repeat;
    width: 467px;
    display: flex;
    justify-content: center;
}

.card_2>a {
    text-decoration: none;
    padding: 95px 195px 95px 195px;
    color: #000000;
    font-size: 24px;
    font-family: 'Roboto Slab';
    font-weight: 500;
}

.card_3 {
    background-image: url(img/icon_3.png);
    background-repeat: no-repeat;
    width: 467px;
    display: flex;
    justify-content: center;
}

.card_3>a {
    text-decoration: none;
    padding: 95px 135px 95px 135px;
    color: #000000;
    font-size: 24px;
    font-family: 'Roboto Slab';
    font-weight: 500;
}

.card_4 {
    background-image: url(img/icon_4.png);
    background-repeat: no-repeat;
    width: 467px;
    display: flex;
    justify-content: center;
}

.card_4>a {
    text-decoration: none;
    padding: 95px 120px 95px 120px;
    color: #000000;
    font-size: 24px;
    font-family: 'Roboto Slab';
    font-weight: 500;
}

.card_5 {
    background-image: url(img/icon_5.png);
    background-repeat: no-repeat;
    width: 467px;
    display: flex;
    justify-content: center;
}

.card_5>a {
    text-decoration: none;
    padding: 95px 195px 95px 195px;
    color: #000000;
    font-size: 24px;
    font-family: 'Roboto Slab';
    font-weight: 500;
}

.icon_2:hover,
.icon:hover {
    transform: translateY(-10px);
}

#hd {
    width: 70%;
    height: 90%;
    padding-left: 40px;
}

.block_4 {
    background-image: url(img/block_4.png);
    width: 100vw;
    height: 968px;
}

h4 {
    font-size: 40px;
    color: #ffff;
    font-family: 'Roboto Slab';
    margin-top: 0;
    margin-left: 213px;
    font-weight: 450;
    padding-top: 190px;
}

.block_4>p {
    font-size: 32px;
    color: #ffff;
    font-family: 'Roboto Slab';
    text-align: right;
    margin-top: -9px;
    margin-right: 176px;
}

#last_p {
    text-align: left;
    margin-left: 215px;
    margin-top: 130px;
}

h3 {
    color: #D7472D;
    font-size: 48px;
    font-family: 'Roboto Slab';
    text-align: center;
    margin-top: 119px;
    font-weight: 500;
}

footer {
    background-color: #D7472D;
    height: 180px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;

}

#logo_footer {
    width: 104px;
    height: 115px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav {
    margin-left: 213px;
    margin-top: 0;
}

.nav>a>img {
    width: 31px;
    height: 31px;

}

.main {
    display: flex;
    flex-direction: column;


}

.zagolovok {
    font-size: 24px;
    color: #000000;
    font-family: 'Roboto Slab';
    font-weight: 700;
    margin: 0px;
}

.main>a {
    text-decoration: none;
    font-size: 16px;
    width: 150px;
    font-family: 'Roboto Slab';
    color: #000000;
    font-weight: 600;
    transition: .2s;
}

.main>a:hover {
    color: #E2B802;
}

.contacts {
    display: flex;
    flex-direction: column;


}

.footer_txt>p {
    margin: 0px;
    font-size: 16px;
    font-family: 'Roboto Slab';
    color: #000000;
    font-weight: 600;
}

.users {
    display: flex;
    flex-direction: column;


}

.users>a {
    text-decoration: none;
    font-size: 16px;
    width: 300px;
    font-family: 'Roboto Slab';
    color: #000000;
    font-weight: 600;
    transition: .2s;
}

.users>a:hover {
    color: #E2B802;
}

.predzak {
    font-size: 16px;
    font-family: 'Roboto Slab';
    color: #000000;
    font-weight: 500;
    margin: 0px;
}

h5 {
    font-size: 32px;
    color: #000000;
    font-family: 'Roboto Slab';
    font-weight: 600;
    margin: 0;

}

.colortxt {
    color: #E2B802;
}

.last_txt {
    display: flex;
    position: relative;
}

.last_txt img {
    position: absolute;
    bottom: 0;
    right: 0;
}