html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    margin: 0;
    background-color: var(--site-bg);
}

header {
    background-color: #D7472D;
    height: 70px;
    align-items: center;
    display: flex;
    z-index: 99;
}

nav {
    display: inline-block;
    padding: 0;
    margin-top: -6px;

}

nav>a {
    font-family: 'Roboto Slab';
    text-decoration: none;
    font-size: 20px;
    color: #000000;
    padding-left: 69px;
    transition: .2s;
    font-weight: 600;
}

nav>a:hover {
    font-size: 20px;
    color: #E2B802;
}

#last {
    margin-right: 150px;
}

.img {
    display: flex;
    gap: 15px;
}

.city {
    display: flex;
    align-self: flex-start;
    padding-top: 2px;
}

select {
    color: #ffff;
    font-family: 'Roboto Slab';
    font-size: 16px;
    font-weight: 400;
    width: 183px;
    height: 30px;
    border-radius: 10px;
    outline: none;
    border: none;
    margin-left: 48px;
    padding-left: 15px;
    padding-bottom: 2px;
    appearance: none;
    background: url(img/select_arr.svg) no-repeat right;
    background-position-x: calc(100% - 8px);
    background-color: #000000;
}

#korzina {
    width: 35px;
    height: 35px;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;
}

#profil {
    width: 35px;
    height: 35px;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;
}

#logo {
    width: 70px;
    height: 70px;
    margin-top: -2px;
    margin-left: 30px;
}

#planet {
    width: 15px;
    height: 15px;
    margin-left: 23px;
}

#city {
    font-size: 12px;
    font-weight: 700;
    height: 21px;
    background: none;
    border: none;
    appearance: none;
    color: #000000;
    margin: -3px 0px 0px -12px;
    width: 180px;
    transition: .2s;
}

#city:hover {
    font-size: 13px;
}

#city>option {
    font-size: 14px;
    color: #ffff;
    background-color: #000000;
}

#first {
    padding-left: 6px;
}

#cards {
    display: flex;
    flex-direction: row;
    margin-left: 381px;
    gap: 25px;
    display: grid;
    grid-template-columns: repeat(4, 20em);
}

h1 {
    color: #ffff;
    font-size: 48px;
    font-weight: 500;
    font-family: 'Roboto Slab';
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

#h2 {
    color: #ffff;
    font-size: 40px;
    font-family: 'Roboto Slab';
    font-weight: 500;
    margin-left: 381px;
    margin-top: 111px;
}

.card {
    background-color: #262626;
    border-radius: 10px;
    padding: 10px;
    width: 261px;
    display: flex;
    flex-direction: column;
}

#price {
    color: #ffff;
    font-size: 30px;
    font-family: 'Roboto Slab';
    font-weight: 400;
    margin-top: 6px;
    margin: 0px;
}

#name {
    color: #ffff;
    font-size: 24px;
    font-family: 'Roboto Slab';
    font-weight: 400;
    margin-top: 6px;
    margin-bottom: 10px;
}

#ves {
    color: #ffff;
    font-size: 20px;
    margin-bottom: 5px;
    font-family: 'Roboto Slab';
    font-weight: 400;
}

.btn {
    background-color: #121212;
    color: #ffff;
    border: 2px solid #121212;
    border-radius: 10px;
    font-size: 20px;
    font-family: 'Roboto Slab';
    height: 44px;
    transition: .2s;
}

.txt_btn {
    margin: 0px;
}

.btn:hover {
    border: 2px solid #ffff;
    color: #E2B802;
}

#block_5 {
    margin-bottom: 135px;
}


.nav_menu {
    height: auto;
    min-height: 500px;
    max-height: none;
    width: 191px;
    border-radius: 10px;
    position: fixed;
    z-index: 1;
    margin-left: 90px;
    margin-top: 5%;
    padding: 18px 0 18px 18px;
    background-color: #262626;
    overflow: visible;
    box-sizing: border-box;
}

ul {
    padding: 0px;
}

.link {
    margin: 15px 0px 15px 0px;
    text-decoration: none;
    font-size: 24px;
    font-family: 'Roboto Slab';
    font-weight: 500;
    padding: 0 8px;
    color: #ffff;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #262626;
    border-radius: 10px;
    width: 171px;
    min-height: 58px;
    height: auto;
    transition: .3s;
    word-wrap: break-word;
    word-break: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    line-height: 1.3;
    box-sizing: border-box;
}

.link:hover {
    color: #E2B802;
}

li {
    list-style: none;
}

li>.link--active {
    background-color: transparent;
    border-radius: 10px;
    width: 171px;
    min-height: 58px;
    height: auto;
    color: #E2B802;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 8px;
    word-wrap: break-word;
    word-break: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    line-height: 1.3;
    box-sizing: border-box;
}

.kolvo {
    display: none;
    transition: .2s;
}

.button_Plus {
    background: none;
    border: none;
    color: #ffff;
    font-size: 25px;
    font-family: 'Roboto Slab';
}

.button_Plus:hover {
    color: #E2B802;
}

.button_Minus {
    background: none;
    border: none;
    color: #ffff;
    font-size: 25px;
    font-weight: 500;
    margin-left: 180px;
    font-family: 'Roboto Slab';
    transition: .2s;
}

.button_Minus:hover {
    color: #E2B802;
}

.button_Number {
    margin-top: -35px;
    font-size: 25px;
}

footer {
    background-color: #D7472D;
    height: 180px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;

}

#logo_footer {
    width: 104px;
    height: 115px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav {
    margin-left: 213px;
    margin-top: 0;
}

.nav>a>img {
    width: 31px;
    height: 31px;

}

.main {
    display: flex;
    flex-direction: column;


}

.zagolovok {
    font-size: 24px;
    color: #000000;
    font-family: 'Roboto Slab';
    font-weight: 700;
    margin: 0px;
}

.main>a {
    text-decoration: none;
    font-size: 16px;
    width: 150px;
    font-family: 'Roboto Slab';
    color: #000000;
    font-weight: 600;
    transition: .2s;
}

.main>a:hover {
    color: #E2B802;
}

.contacts {
    display: flex;
    flex-direction: column;


}

.footer_txt>p {
    margin: 0px;
    font-size: 16px;
    font-family: 'Roboto Slab';
    color: #000000;
    font-weight: 600;
}

.users {
    display: flex;
    flex-direction: column;


}

.users>a {
    text-decoration: none;
    font-size: 16px;
    width: 300px;
    font-family: 'Roboto Slab';
    color: #000000;
    font-weight: 600;
    transition: .2s;
}

.users>a:hover {
    color: #E2B802;
}

.predzak {
    font-size: 16px;
    font-family: 'Roboto Slab';
    color: #000000;
    font-weight: 500;
    margin: 0px;
}

h5 {
    font-size: 32px;
    color: #000000;
    font-family: 'Roboto Slab';
    font-weight: 600;
    margin: 0;

}

.colortxt {
    color: #E2B802;
}

.last_txt {
    display: flex;
    position: relative;
}

.last_txt img {
    position: absolute;
    bottom: 0;
    right: 0;
}