html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    margin: 0;
    background-color: #121212;
}

header {
    background-color: #D7472D;
    height: 70px;
    align-items: center;
    display: flex;
    z-index: 99;
}

nav {
    display: inline-block;
    padding: 0;
    margin-top: -6px;

}

nav>a {
    font-family: 'Roboto Slab';
    text-decoration: none;
    font-size: 20px;
    color: #000000;
    padding-left: 69px;
    transition: .2s;
    font-weight: 600;
}

nav>a:hover {
    font-size: 20px;
    color: #E2B802;
}

#last {
    margin-right: 150px;
}

.img {
    display: flex;
    gap: 15px;
}

.city {
    display: flex;
    align-self: flex-start;
    padding-top: 2px;
}

select {
    color: #ffff;
    font-family: 'Roboto Slab';
    font-size: 16px;
    font-weight: 400;
    width: 183px;
    height: 30px;
    border-radius: 10px;
    outline: none;
    border: none;
    margin-left: 48px;
    padding-left: 15px;
    padding-bottom: 2px;
    appearance: none;
    background: url(img/select_arr.svg) no-repeat right;
    background-position-x: calc(100% - 8px);
    background-color: #000000;
}

#korzina {
    width: 35px;
    height: 35px;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;
}

#profil {
    width: 35px;
    height: 35px;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;
}

#logo {
    width: 70px;
    height: 70px;
    margin-top: -2px;
    margin-left: 30px;
}

#planet {
    width: 15px;
    height: 15px;
    margin-left: 23px;
}

#city {
    font-size: 12px;
    font-weight: 700;
    height: 21px;
    background: none;
    border: none;
    appearance: none;
    color: #000000;
    margin: -3px 0px 0px -12px;
    width: 180px;
    transition: .2s;
}

#city:hover {
    font-size: 13px;
}

#city>option {
    font-size: 14px;
    color: #ffff;
    background-color: #000000;
}

#first {
    padding-left: 6px;
}

h1 {
    color: #ffff;
    font-size: 40px;
    font-family: 'Roboto Slab';
    font-weight: 500;
    text-align: center;
    margin: 32px 0px 40px 0px;
}

p {
    color: #ffff;
    font-size: 22px;
    font-family: 'Roboto Slab';
    font-weight: 200;
    margin-left: 276px;
    margin-top: 0px;
    margin-bottom: 119px;
}

footer {
    background-color: #D7472D;
    height: 180px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;

}

#logo_footer {
    width: 104px;
    height: 115px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav {
    margin-left: 213px;
    margin-top: 0;
}

.nav>a>img {
    width: 31px;
    height: 31px;

}

.main {
    display: flex;
    flex-direction: column;


}

.zagolovok {
    font-size: 24px;
    color: #000000;
    font-family: 'Roboto Slab';
    font-weight: 700;
    margin: 0px;
}

.main>a {
    text-decoration: none;
    font-size: 16px;
    width: 150px;
    font-family: 'Roboto Slab';
    color: #000000;
    font-weight: 600;
    transition: .2s;
}

.main>a:hover {
    color: #E2B802;
}

.contacts {
    display: flex;
    flex-direction: column;


}

.footer_txt>p {
    margin: 0px;
    font-size: 16px;
    font-family: 'Roboto Slab';
    color: #000000;
    font-weight: 600;
}

.users {
    display: flex;
    flex-direction: column;


}

.users>a {
    text-decoration: none;
    font-size: 16px;
    width: 300px;
    font-family: 'Roboto Slab';
    color: #000000;
    font-weight: 600;
    transition: .2s;
}

.users>a:hover {
    color: #E2B802;
}

.predzak {
    font-size: 16px;
    font-family: 'Roboto Slab';
    color: #000000;
    font-weight: 500;
    margin: 0px;
}

h5 {
    font-size: 32px;
    color: #000000;
    font-family: 'Roboto Slab';
    font-weight: 600;
    margin: 0;

}

.colortxt {
    color: #E2B802;
}

.last_txt {
    display: flex;
    position: relative;
}

.last_txt img {
    position: absolute;
    bottom: 0;
    right: 0;
}