{% set role_name = None %}
{% if current_user.is_authenticated %}
  {% if current_user.role %}
    {% set role_name = (current_user.role.name or '').lower() %}
  {% else %}
    {% set role_name = (current_user.role_name or '').lower() %}
  {% endif %}
{% endif %}
<header>
  <article class="logotip">
    <a href="{{ url_for('site.home') }}"><img src="{{ url_for('static', filename='site_src/img/logo.svg') }}" id="logo" alt="логотип"></a>
  </article>
  <article class="city">
    <img src="{{ url_for('static', filename='site_src/img/planet.svg') }}" id="planet" alt="город">
    <select id="city">
      <option>Великий Новгород</option>
      <option>Москва</option>
      <option>Санкт-Петербург</option>
    </select>
  </article>
  <nav>
    <a href="{{ url_for('site.home') }}#about" id="first">О Don Хот-Дог</a>
    <a href="{{ url_for('site.home') }}#block_2">Заведения</a>
    <a href="{{ url_for('site.work') }}">Работа</a>
    <a href="{{ url_for('site.reviews') }}">Оставить отзыв</a>
    <a href="{{ url_for('site.menu') }}">Меню</a>
    <a href="{{ url_for('site.home') }}#contacts" id="last">Контакты</a>
  </nav>
  <article class="img">
    <a href="https://yandex.ru/maps/-/CDF9IXyX" target="_blank" rel="noopener" class="header-icon" title="Яндекс Карты">
      <img src="{{ url_for('static', filename='image/geo.png') }}" alt="Яндекс Карты">
    </a>
    <a href="#" class="header-icon" id="tryba" title="Телефон">
      <img src="{{ url_for('static', filename='image/phone.png') }}" alt="Телефон">
    </a>
    <a href="https://vk.com/donhotdog53" target="_blank" rel="noopener" class="header-icon" title="ВКонтакте">
      <img src="{{ url_for('static', filename='image/vk.png') }}" alt="ВКонтакте">
    </a>
  </article>
  <div class="header-icons-group">
    <button class="theme-toggle" type="button" id="siteThemeToggle" aria-label="Переключить тему">
      <span id="siteThemeIcon">🌙</span>
    </button>
    <a href="{{ url_for('site.basket') }}" class="icon-link" id="korzina" title="Корзина">
      <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path d="M7 18c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zM1 2v2h2l3.6 7.59-1.35 2.45c-.16.28-.25.61-.25.96 0 1.1.9 2 2 2h12v-2H7.42c-.14 0-.25-.11-.25-.25l.03-.12L8.1 13h7.45c.75 0 1.41-.41 1.75-1.03L21.7 4H5.21l-.94-2H1zm16 16c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"/>
      </svg>
      {% if site_cart_count %}
        <span class="cart-count">{{ site_cart_count }}</span>
      {% endif %}
    </a>
    {% if current_user.is_authenticated %}
      <a href="{{ url_for('site.profile') }}" class="icon-link" id="profil" title="Профиль">
        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/>
        </svg>
      </a>
    {% else %}
      <a href="{{ url_for('auth.login') }}" class="icon-link" id="profil" title="Войти">
        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/>
        </svg>
      </a>
    {% endif %}
    {% if role_name and role_name != 'user' %}
      <a href="{{ url_for('dashboard.index') }}" class="btn-crm">CRM</a>
    {% endif %}
  </div>
</header>

